body { padding-top: 53px; }

a { text-decoration: none; }

#summary {
  margin-top: 20px;
}

#summary .well {
  margin: auto;
  width: 500px;
}

#summary .thought-bubble { padding: 10px; }
#summary h4 { text-align: center; }
#summary dl { margin-bottom: 0; }

#current-invite {
  margin: auto;
  width: 306px;
}

#current-invite .label.going, img.going { background-color: #2ecc71; }
#current-invite .label.pending, img.pending { background-color: #f1c40f; }
#current-invite .label.not-going, img.not-going { background-color: #e74c3c; }

#current-invite .label h6 { margin: 0px; }
#current-invite .label { margin-bottom: 5px; }

.thoughts .item {
  width: 32.6%;
  margin-bottom: 10px;
}

.thoughts .label.going, img.going { background-color: #2ecc71; }
.thoughts .label.pending, img.pending { background-color: #f1c40f; }
.thoughts .label.not-going, img.not-going { background-color: #e74c3c; }

.thoughts .label h6 { margin: 0px; }
.thoughts .label { margin-bottom: 5px; }

.thoughts .well {
  margin-bottom: 0px;
}

.thought-bubble {
  background-color: white;
  padding: 2px 8px;
  border-radius: 10px;
  border: 1px solid #ddd;

}

.thought-bubble p {
  margin: 0px;
  word-wrap: break-word;
}

.thought-bubble.going {
  background-color: #16a085;
}

.pending-options {
  text-align: center;
}

.pending-options i {
  color: #bdc3c7;
}

#thoughts-modal .well {
  width: 306px;
  margin: 0 auto;
}

#thoughts-modal .modal-header h4 {
  margin: 0;
}

#thoughts-modal textarea {
  width: 500px;
}

.brand { font-family: lobster; }

#filter {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#filter ul {
  display: inline-block;
  margin: 0px;
}

.nav-pills li.active a {
  background-color: #9b59b6;
}

.nav-pills li.active a:hover {
  background-color: #9b59b6;
}
